<a href="https://colab.research.google.com/github/Deadshot10/HousingP_LinearR/blob/main/House_prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import torch
from torch.autograd import Variable #this is used to create tensors that support gradient calculations
#the autograd class is used to calculate the jacobian vector product
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_csv("Bengaluru_House_Data.csv")
df1.head(5)

              area_type   availability  ... balcony   price
0  Super built-up  Area         19-Dec  ...     1.0   39.07
1            Plot  Area  Ready To Move  ...     3.0  120.00
2        Built-up  Area  Ready To Move  ...     3.0   62.00
3  Super built-up  Area  Ready To Move  ...     1.0   95.00
4  Super built-up  Area  Ready To Move  ...     1.0   51.00

[5 rows x 9 columns]

# New section

In [3]:
df1.shape

(13320, 9)

In [4]:
df2 = df1.drop(['area_type','availability','society','balcony'], axis='columns')
df2.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

now the data cleaning process is underway

In [5]:
df2.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [6]:
#here as the NaN rows are very small as compared to the total number of rows,we can drop the entire rows where there was a NaN value. naother approach could have been to fill the NaN values with median of all the other values in the dataset
df3 = df2.dropna()
df3.head()
df3.shape
df3.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [7]:
#this shows all the different unique values in the column
df3['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [8]:
df3['BHK'] = df3['size'].apply(lambda x: int(x.split(' ')[0]))
#what this code does is it creates a new column in the df3 dataframe.
#the lamda function here splits the string at the space and then selects the first out of the two tokens that are created after the split
#finally this split which is a string now is then converted to an integer as it is typecast

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
df3.head()

                   location       size total_sqft  bath   price  BHK
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2

In [10]:
df3['BHK'].unique()

array([ 2,  4,  3,  6,  1,  8,  7,  5, 11,  9, 27, 10, 19, 16, 43, 14, 12,
       13, 18])

In [11]:
df3['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [12]:
def is_float(x):
  try:
    float(x)
  except:
    return False
  return True

In [13]:
df3[~df3['total_sqft'].apply(is_float)].head(5)

               location   size   total_sqft  bath    price  BHK
30            Yelahanka  4 BHK  2100 - 2850   4.0  186.000    4
122              Hebbal  4 BHK  3067 - 8156   4.0  477.000    4
137  8th Phase JP Nagar  2 BHK  1042 - 1105   2.0   54.005    2
165            Sarjapur  2 BHK  1145 - 1340   2.0   43.490    2
188            KR Puram  2 BHK  1015 - 1540   2.0   56.800    2

In [14]:
def convert_to_sqft(x):
  tokens=x.split('-')
  if len(tokens)==2:
    return (float(tokens[0])+float(tokens[1]))/2
  try:
    return float(x)
  except:
    return None

In [15]:
df4 = df3.copy()
df4['total_sqft'] = df4['total_sqft'].apply(convert_to_sqft)
df4.head(5)

                   location       size  total_sqft  bath   price  BHK
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

the reason for creating this function is that it will help in dealing with outliers later on

In [16]:
df5 = df4.copy()
df5['priceper_sqft']=(df5['price']*100000/df5['total_sqft'])
df5.head(5)

                   location       size  total_sqft  ...   price  BHK  priceper_sqft
0  Electronic City Phase II      2 BHK      1056.0  ...   39.07    2    3699.810606
1          Chikka Tirupathi  4 Bedroom      2600.0  ...  120.00    4    4615.384615
2               Uttarahalli      3 BHK      1440.0  ...   62.00    3    4305.555556
3        Lingadheeranahalli      3 BHK      1521.0  ...   95.00    3    6245.890861
4                  Kothanur      2 BHK      1200.0  ...   51.00    2    4250.000000

[5 rows x 7 columns]

In [17]:
df5.location = df5.location.apply(lambda x: x.strip())

location_stats = df5.groupby('location')['location'].agg('count').sort_values(ascending=False)
location_stats

location
Whitefield               535
Sarjapur  Road           392
Electronic City          304
Kanakpura Road           266
Thanisandra              236
                        ...
1 Giri Nagar               1
Kanakapura Road,           1
Kanakapura main  Road      1
Karnataka Shabarimala      1
whitefiled                 1
Name: location, Length: 1293, dtype: int64

In [18]:
location_stats_lessthan_10 = location_stats[location_stats<=10]
location_stats_lessthan_10

location
Basapura                 10
1st Block Koramangala    10
Gunjur Palya             10
Kalkere                  10
Sector 1 HSR Layout      10
                         ..
1 Giri Nagar              1
Kanakapura Road,          1
Kanakapura main  Road     1
Karnataka Shabarimala     1
whitefiled                1
Name: location, Length: 1052, dtype: int64

In [19]:
df5.location = df5.location.apply(lambda x: 'other' if x in location_stats_lessthan_10 else x)
len(df5.location.unique())

242

In [20]:
class LinearRegressionModel(torch.nn.Module):

  def _init_(self): # basically the init method works  like a constructor from c++ which assigns the attributes of a class to the object that is created. 
                    #Here we create a class of our linear regression and the init method is called anytime an object is defined wrt this class.
                     #to the init method,when we pass self,attributeval,attrval.. what we do is assign those vals to the predefined attributes that the object inherited from the class.
     super(LinearRegressionModel,self)._init_()
     self.linear= torch.nn.Linear(1,1)#one in one out as we are using a data set with one variable to predict the other variable the dependent variable

  def forward(self,x):
    y_pred = self.linear(x)
    return y_pred

In [21]:
#this is to remove those values which dont make sense,here we assume that an average room is around 300sqft,so any houses that dont cross this threshold can be removed as they may be errors
df5[df5.total_sqft/df5.BHK<300].head()

               location       size  total_sqft  bath  price  BHK  priceper_sqft
9                 other  6 Bedroom      1020.0   6.0  370.0    6   36274.509804
45           HSR Layout  8 Bedroom       600.0   9.0  200.0    8   33333.333333
58        Murugeshpalya  6 Bedroom      1407.0   4.0  150.0    6   10660.980810
68  Devarachikkanahalli  8 Bedroom      1350.0   7.0   85.0    8    6296.296296
70                other  3 Bedroom       500.0   3.0  100.0    3   20000.000000

In [22]:
df6=df5[~(df5.total_sqft/df5.BHK<300)]

In [23]:
df6.shape

(12502, 7)

In [24]:
df6.priceper_sqft.describe()
#describe() is a function that describes the specific columns.This data is what we will use to remove extreme cases

count     12456.000000
mean       6308.502826
std        4168.127339
min         267.829813
25%        4210.526316
50%        5294.117647
75%        6916.666667
max      176470.588235
Name: priceper_sqft, dtype: float64

In [26]:
def remove_pps_outliers(df):
  df_out= pd.DataFrame()
  for key, subdf in df.groupby('location'):
    m=np.mean(subdf.priceper_sqft)
    st=np.std(subdf.priceper_sqft)
    reduced_df=subdf[(subdf.priceper_sqft>(m-st))&(subdf.priceper_sqft<=(m+st))]
    df_out=pd.concat([df_out,reduced_df],ignore_index=True)
  return df_out

df7 = remove_pps_outliers(df6)
df7.shape

(10241, 7)

In [ ]:
def plot_scatter_chart(df,location):
    bhk2 = df[(df.location==location) & (df.bhk==2)]
    bhk3 = df[(df.location==location) & (df.bhk==3)]
    matplotlib.rcParams['figure.figsize'] = (15,10)
    plt.scatter(bhk2.total_sqft,bhk2.price,color='blue',label='2 BHK', s=50)
    plt.scatter(bhk3.total_sqft,bhk3.price,marker='+', color='green',label='3 BHK', s=50)
    plt.xlabel("Total Square Feet Area")
    plt.ylabel("Price (Lakh Indian Rupees)")
    plt.title(location)
    plt.legend()
    
plot_scatter_chart(df7,"Rajaji Nagar")

In [30]:
def remove_bhk_outliers(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('BHK'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.priceper_sqft),
                'std': np.std(bhk_df.priceper_sqft),
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('BHK'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.priceper_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')
df8 = remove_bhk_outliers(df7)
# df8 = df7.copy()
df8.shape

(7329, 7)

In [31]:
df8.bath.unique()

array([ 4.,  3.,  2.,  5.,  8.,  1.,  6.,  7.,  9., 12., 16., 13.])

In [32]:
df8[df8.bath>df8.BHK+2]

           location       size  total_sqft  bath   price  BHK  priceper_sqft
1626  Chikkabanavar  4 Bedroom      2460.0   7.0    80.0    4    3252.032520
5238     Nagasandra  4 Bedroom      7000.0   8.0   450.0    4    6428.571429
6711    Thanisandra      3 BHK      1806.0   6.0   116.0    3    6423.034330
8411          other      6 BHK     11338.0   9.0  1000.0    6    8819.897689

In [34]:
df9 = df8[df8.bath<df8.BHK+2]
df9.shape
#now video number 9

(7251, 7)