<a href="https://colab.research.google.com/github/Deadshot10/HousingP_LinearR/blob/main/House_prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import torch
from torch.autograd import Variable #this is used to create tensors that support gradient calculations
#the autograd class is used to calculate the jacobian vector product
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df1 = pd.read_csv("Bengaluru_House_Data.csv")
df1.head(5)

              area_type   availability  ... balcony   price
0  Super built-up  Area         19-Dec  ...     1.0   39.07
1            Plot  Area  Ready To Move  ...     3.0  120.00
2        Built-up  Area  Ready To Move  ...     3.0   62.00
3  Super built-up  Area  Ready To Move  ...     1.0   95.00
4  Super built-up  Area  Ready To Move  ...     1.0   51.00

[5 rows x 9 columns]

In [4]:
df1.shape

(13320, 9)

In [5]:
df2 = df1.drop(['area_type','availability','society','balcony'], axis='columns')
df2.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

now the data cleaning process is underway

In [ ]:
df2.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [6]:
#here as the NaN rows are very small as compared to the total number of rows,we can drop the entire rows where there was a NaN value. naother approach could have been to fill the NaN values with median of all the other values in the dataset
df3 = df2.dropna()
df3.head()
df3.shape
df3.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [7]:
#this shows all the different unique values in the column
df3['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [8]:
df3['BHK'] = df3['size'].apply(lambda x: int(x.split(' ')[0]))
#what this code does is it creates a new column in the df3 dataframe.
#the lamda function here splits the string at the space and then selects the first out of the two tokens that are created after the split
#finally this split which is a string now is then converted to an integer as it is typecast

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
df3.head()

                   location       size total_sqft  bath   price  BHK
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2

In [10]:
df3['BHK'].unique()

array([ 2,  4,  3,  6,  1,  8,  7,  5, 11,  9, 27, 10, 19, 16, 43, 14, 12,
       13, 18])

In [11]:
df3['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [12]:
def is_float(x):
  try:
    float(x)
  except:
    return False
  return True

In [17]:
df3[~df3['total_sqft'].apply(is_float)].head(5)

               location   size   total_sqft  bath    price  BHK
30            Yelahanka  4 BHK  2100 - 2850   4.0  186.000    4
122              Hebbal  4 BHK  3067 - 8156   4.0  477.000    4
137  8th Phase JP Nagar  2 BHK  1042 - 1105   2.0   54.005    2
165            Sarjapur  2 BHK  1145 - 1340   2.0   43.490    2
188            KR Puram  2 BHK  1015 - 1540   2.0   56.800    2

In [19]:
def convert_to_sqft(x):
  tokens=x.split('-')
  if len(tokens)==2:
    return (float(tokens[0])+float(tokens[1]))/2
  try:
    return float(x)
  except:
    return None

In [20]:
df4 = df3.copy()
df4['total_sqft'] = df4['total_sqft'].apply(convert_to_sqft)
df4.head(5)

                   location       size  total_sqft  bath   price  BHK
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

the reason for creating this function is that it will help in dealing with outliers later on

In [21]:
df5 = df4.copy()
df5['priceper_sqft']=(df5['price']*100000/df5['total_sqft'])
df5.head(5)

                   location       size  total_sqft  ...   price  BHK  priceper_sqft
0  Electronic City Phase II      2 BHK      1056.0  ...   39.07    2    3699.810606
1          Chikka Tirupathi  4 Bedroom      2600.0  ...  120.00    4    4615.384615
2               Uttarahalli      3 BHK      1440.0  ...   62.00    3    4305.555556
3        Lingadheeranahalli      3 BHK      1521.0  ...   95.00    3    6245.890861
4                  Kothanur      2 BHK      1200.0  ...   51.00    2    4250.000000

[5 rows x 7 columns]

In [23]:
df5.location = df5.location.apply(lambda x: x.strip())

location_stats = df5.groupby('location')['location'].agg('count').sort_values(ascending=False)
location_stats

location
Whitefield           535
Sarjapur  Road       392
Electronic City      304
Kanakpura Road       266
Thanisandra          236
                    ...
LIC Colony             1
Kuvempu Layout         1
Kumbhena Agrahara      1
Kudlu Village,         1
1 Annasandrapalya      1
Name: location, Length: 1293, dtype: int64

In [27]:
location_stats_lessthan_10 = location_stats[location_stats<=10]
location_stats_lessthan_10

location
BTM 1st Stage          10
Basapura               10
Sector 1 HSR Layout    10
Naganathapura          10
Kalkere                10
                       ..
LIC Colony              1
Kuvempu Layout          1
Kumbhena Agrahara       1
Kudlu Village,          1
1 Annasandrapalya       1
Name: location, Length: 1052, dtype: int64

In [28]:
df5.location = df5.location.apply(lambda x: 'other' if x in location_stats_lessthan_10 else x)
len(df5.location.unique())

242

In [ ]:
class LinearRegressionModel(torch.nn.Module):

  def _init_(self): # basically the init method works  like a constructor from c++ which assigns the attributes of a class to the object that is created. 
                    #Here we create a class of our linear regression and the init method is called anytime an object is defined wrt this class.
                     #to the init method,when we pass self,attributeval,attrval.. what we do is assign those vals to the predefined attributes that the object inherited from the class.
     super(LinearRegressionModel,self)._init_()
     self.linear= torch.nn.Linear(1,1)#one in one out as we are using a data set with one variable to predict the other variable the dependent variable

  def forward(self,x):
    y_pred = self.linear(x)
    return y_pred

In [ ]:
our_model = LinearRegressionModel() #this is basically creating an our model object which belongs to the linear regression class
criterion = torch.nn.MSELoss(size_average=False) #this is used to define the loss function
optimizer = torch.optim.SGD(our_model.parameters(),lr=0.01) #this is used to decide the optimization method for our loss function. The learning rate is basically the rate at which
# the parameters of the loss function are changed as we progress towards approaching the local minima. In linear regression problems there is only single global minima

In [ ]:
for epoch in range(700):
  #first we will perform the forward pass
  #pass x to the model

  pred_y = our_model(x_data)
  loss = criterion(pred_y,y_data)

  # Zero gradients, perform a backward pass,
  # and update the weights.
  optimizer.zero_grad()
  loss.backward()
  optimizer.step()
  print('epoch {}, loss {}'.format(epoch, loss.item()))